{% extends 'base.html'%}

{% block title %}
        about
{% endblock %}

{% block content_title %}
<p class="h1">О проекте</p>
{% endblock %}

{% block content %}
<p>Проект подготовлен Свистуновом&nbsp;Максимом&nbsp;Алексеевичем, студентом "РТУ&nbsp;МИРЭА" Физико-Технологического&nbsp;института,
    кафедры Оптических&nbsp;и&nbsp;Биотехнических&nbsp;систем&nbsp;и&nbsp;технологий</p>
<h3>Контакты</h3>
<ul>
    <li><b>Телефон:</b>&nbsp;+79852187256</li>
    <li><b>Почта:</b>&nbsp;bumbiyada@gmail.com</li>
    <li><b>Вконтакте:</b>&nbsp;id_brainshooter</li>
</ul>
<p>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#about" aria-expanded="false" aria-controls="collapseExample">
    Список использованного Програмного Обеспечения
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#instruction" aria-expanded="false" aria-controls="collapseExample">
    Руководство пользователя
  </button>
</p>
<div class="collapse" id="about">
  <div class="card card-body">
      <p class="h4">Список использованного Програмного Обеспечения</p>
      <ul>
        <li><b>Язык программно-аппаратной части:</b>&nbsp;Python3.7</li>
        <li><b>Веб-фреймворк:</b>&nbsp;Flask</li>
        <li><b><abbr title="Object Relational Mapping, технология, связывающая БД с концепциями обьекто-ориентированных языков программирования">
            ORM:</abbr></b>&nbsp;Flask-SQLAlchemy</li>
        <li><b>База Данных:</b>&nbsp;SQLite</li>
        <li><b>Кабинет Администратора:</b>&nbsp;Flask-Admin</li>
        <li><b>Модуль Безопасности:</b>&nbsp;Flask-Sequrity</li>
          <li><b>Стили и Скрипты <abbr title="Клиентская сторона пользовательского интерфейса">Frontend</abbr>:</b>&nbsp;Bootstrap 4</li>
        <li><b>Программы для обработки Изображений:</b>&nbsp;Adobe Photoshop 6, Paint.Net, GIMP 2.10</li>
          <li><b><abbr title="IDE">Интегрированная среда разработки</abbr>:</b>&nbsp;Jetbrains PyCharm</li>
        <li><b>Операционная система:</b>&nbsp;Fedora 29</li>
        <li><b>Интернет Браузер:</b>&nbsp;Firefox, Opera</li>
        <li><b>Программа для онлайн Тестирования системы:</b>&nbsp;Ngrok</li>
        <li><b>Система Управления Версиями:</b>&nbsp;Github</li>
      </ul>
  </div>
</div>
<div class="collapse" id="instruction">
  <div class="card card-body">
      <p class="h4">Руководство пользователя</p>
      <p>Заходя на сайт впервые, пользователь попадает на главную страницу. Сверху находится навигационная панель с кнопками "главная",
          таблицы (с раскрывающимся списком кнопок), "Термины", "Технологии", "О проекте", "Авторизация". В центре находится большая кнопка для перехода
          на главный раздел сайта "Томографы".
      </p>
      <p>В списке таблиц представлены такие разделы: "томографы", "производители", "трубки", "генераторы","столы" Каждый из этих разделов
          представляет собой таблицу с характеристиками этих предметов. В разделе "томографы" из-за большого количества характеристик, изначально
          отображается часть характеристик, для отображения всех характеристик выбранного томографа, в таблице, справа имеется кнопка "подробнее".
          В разделе томографы также имеется фильтр по таким позициям: "производитель", "количество трубок", "количество срезов", "страна производства".
      </p>
      <p>В разделе "Термины" представлены краткие определения слов, которые могут быть неизвестны пользователю</p>
      <p>В разделе "Технологии" в виде списка представлены технологии, применяемые производителями в томографах для улучшения качества изображений,
          избавления от артефактов, уменьшения дозы облучения и тд.</p>
      <p>В разделе "О проекте" представлена информация об используемом програмном обеспечении</p>
      <p>Нажав на кнопку "Авторизация" и введя нужные для авторизации данные на странице "Login", пользователь попадает на страницу административного раздела.
          Он создан для добавления, редактирования и удаления записей из базы данных.</p>
  </div>
</div>
{% endblock %}