{% extends 'base.html'%}

{% block title %}
        Main
{% endblock %}

{% block content_title %}
        Main
{% endblock %}

{% block content %}
      HELLO,TOMO HERE
    <a href="/about" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">about</a>
    <a href="tomograph" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">tomograph</a>
    <a href="/manufacture" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">manufacture</a>
{% endblock %}