{% extends 'base.html'%}

{% block title %}
        Manufact
{% endblock %}

{% block content_title %}
<p class="h1"> Производители</p>
<div class="btn-group mx-auto" role="group" aria-label="Basic example">
  <a href="/tomograph" class="btn btn-secondary" role="button">Томографы</a>
  <a href="/manufacture" class="btn btn-secondary active" role="button">Производители</a>
  <a href="/tubes" class="btn btn-secondary" role="button">Трубки</a>
  <a href="/generators" class="btn btn-secondary" role="button">Генераторы</a>
  <a href="/tables" class="btn btn-secondary" role="button">Столы</a>
</div>
{% endblock %}

{% block content %}
<table class="table">
          <thead>
            <tr>
              <th scope="col">Производитель</th>
              <th scope="col">Подразделение</th>
              <th scope="col">Страна</th>
            </tr>
          </thead>
          <tbody>
              {% for manufacture in manufactures%}
                    <tr>
                        <td>{{ manufacture.manufacture_name }}</td>
                        <td>{{ manufacture.manufacture_longname }}</td>
                        <td>{{ manufacture.country }}</td>
                    </tr>
              {% endfor %}
          </tbody>
</table>
{% endblock %}