{% extends 'base.html'%}

{% block title %}
        tables
{% endblock %}

{% block content_title %}
<p class="h1">Столы</p>
<div class="btn-group mx-auto" role="group" aria-label="Basic example">
  <a href="/tomograph" class="btn btn-secondary" role="button">Томографы</a>
  <a href="/manufacture" class="btn btn-secondary" role="button">Производители</a>
  <a href="/tubes" class="btn btn-secondary" role="button">Трубки</a>
  <a href="/generators" class="btn btn-secondary" role="button">Генераторы</a>
  <a href="/tables" class="btn btn-secondary active" role="button">Столы</a>
</div>
{% endblock %}

{% block content %}
<table class="table">
          <thead>
            <tr>
              <th scope="col">Производитель</th>
              <th scope="col">модель стола</th>
              <th scope="col">горизонтальный диапазон (см)</th>
              <th scope="col">макс вес (кг)</th>
              <th scope="col">страна производства</th>
            </tr>
          </thead>
          <tbody>
          {% for table in tables %}
                <tr>
                    <td>{{ table.manufacture_name }}</td>
                    <td>{{ table.table_name }}</td>
                    <td>{{ table.horizont_range }}</td>
                    <td>{{ table.max_weight }}</td>
                    <td>{{ table.country }}</td>
                </tr>
          </tbody>
          {% endfor %}
</table>
{% endblock %}