{% extends 'base.html'%}

{% block title %}
        ct
{% endblock %}

{% block content_title %}
<p class="h1">Томографы</p>
<div class="btn-group mx-auto" role="group" aria-label="Basic example">
  <a href="/tomograph" class="btn btn-secondary" role="button">Томографы</a>
  <a href="/manufacture" class="btn btn-secondary" role="button">Производители</a>
  <a href="/tubes" class="btn btn-secondary" role="button">Трубки</a>
  <a href="/generators" class="btn btn-secondary" role="button">Генераторы</a>
  <a href="/tables" class="btn btn-secondary" role="button">Столы</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
  Фильтры
  </button>
</div>
{% endblock %}

{% block content %}
<table class="table">
          <thead>
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Производитель</th>
              <th scope="col">Подразделение</th>
              <th scope="col">Модель томографа</th>
              <th scope="col">Количество срезов</th>
              <th scope="col">Страна производства</th>
              <th scope="col"> </th>

            </tr>
          </thead>
          <tbody>
          {% for tomog in tomographs %}
                <tr>
                    <td><img class="thumbnail" style="height:50px;widht:50px" src="/static/{{ tomog.path }}"></td>
                    <td>{{ tomog.manufacture_name }}</td>
                    <td>{{ tomog.manufacture_longname }}</td>
                    <td>{{ tomog.tomog_model }}</td>
                    <td>{{ tomog.slicecount }}</td>
                    <td>{{ tomog.country }}</td>
                    <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#l{{ tomog.id }}">подробнее</button></td>
                </tr>
          {% endfor %}
          </tbody>

</table>

{% for tomog in tomographs %}
<div class="modal fade" id="l{{ tomog.id }}" tabindex="-1" role="dialog" aria-labelledby="la{{ tomog.id }}tomoglabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="la{{ tomog.id }}tomoglabel">{{ tomog.manufacture_name }}&nbsp;{{ tomog.tomog_model }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Вид томографии</th>
              <th scope="col">Количество трубок</th>
              <th scope="col">Диаметр Гентри (см)</th>
              <th scope="col">Мин. площадь помещения (м&sup2;)</th>
              <th scope="col">Производительность (мм/сек)</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{ tomog.spiraltype }}</td>
                    <td>{{ tomog.tubecount }}</td>
                    <td>{{ tomog.gantry }}</td>
                    <td>{{ tomog.room_size }}</td>
                    <td>{{ tomog.performance }}</td>
                </tr>
          </tbody>
          </table>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Количество срезов</th>
              <th scope="col">Толщина срезов (мм)</th>
              <th scope="col">FOV (см)</th>
              <th scope="col">FOV ось-Z</th>
              <th scope="col">Время вращения трубки (сек)</th>
              <th scope="col">FPS</th>
              <th scope="col">Пространственное разрешение (мм&sup2;)</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{ tomog.slicecount }}</td>
                    <td>{{ tomog.slice_thicness }}</td>
                    <td>{{ tomog.fov_x }}</td>
                    <td>{{ tomog.fov_z }}</td>
                    <td>{{ tomog.rotation_time }}</td>
                    <td>{{ tomog.fps }}</td>
                    <td>{{ tomog.spatial_resolution }}</td>
                </tr>
          </tbody>
          </table>
          <p><b>Технологии: </b></p>
          <p>{{ tomog.technology_name_list }}</p>
          <p><b>Характеристики Генератора</b></p>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Название генератора</th>
              <th scope="col">Мощность (кВт)</th>
              <th scope="col">Макс. Ток (мА)</th>
              <th scope="col">Макс. Напряжение (кВ)</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{ tomog.generator_name }}</td>
                    <td>{{ tomog.power }}</td>
                    <td>{{ tomog.current }}</td>
                    <td>{{ tomog.voltage }}</td>
                </tr>
          </tbody>
          </table>
          <p><b>Характеристики стола</b></p>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Название стола</th>
              <th scope="col">Горизонтальный диапазон (см)</th>
              <th scope="col">Макс. Вес пациента (кг)</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{ tomog.table_name }}</td>
                    <td>{{ tomog.horizont_range }}</td>
                    <td>{{ tomog.max_weight }}</td>
                </tr>
          </tbody>
          </table>
          <p><b>Характеристики трубки</b></p>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Название трубки</th>
              <th scope="col">Фокус трубки</th>
              <th scope="col">Теплоемкость (MHU) </th>
              <th scope="col">Охлаждение (kHU/min)</th>
              <th scope="col">Срок службы (сек)</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                    <td>{{ tomog.tube_model }}</td>
                    <td>{{ tomog.focus }}</td>
                    <td>{{ tomog.capacity }}</td>
                    <td>{{ tomog.coolingrate }}</td>
                    <td>{{ tomog.servise_life }}</td>
                </tr>
          </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/tomograph_filter">
          <div class="modal-body">
                    <div class="form-group form-check d-flex">
                        <div class="col-3">
                            <h4><b>Производители</b></h4>
                            <ul>
                                {% for manufacture in manufactures %}
                                <li><input type="checkbox" name="{{manufacture.manufacture_name}}" class="form-check-input" id="toto{{manufacture.manufacture_name}} " checked>
                                <label class="form-check-label" for="toto{{ manufacture.manufacture_name }}">{{manufacture.manufacture_name}}</label></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4 align="center"><b>количество срезов</b></h4>
                            <ul>
                                <li>от<input type="number" value=0 name="srez_l" class="form-control" id="srez_l">
                                <label class="form-check-label" for="srez_l"></label></li>
                                <li>до<input type="number" value=1024 name="srez_h" class="form-control" id="srez_h">
                                <label class="form-check-label" for="srez_h"></label></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h4><b>Количество трубок</b></h4>
                            <ul>
                                <li><input type="checkbox" name="однотрубочный" class="form-check-input" checked id="trub1">
                                <label class="form-check-label" for="trub1">однотрубочный</label></li>
                                <li><input type="checkbox" name="двухтрубочный" class="form-check-input" checked id="trub2">
                                <label class="form-check-label" for="trub2">двухтрубочный</label></li>

                            </ul>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Применить фильтр</button>
          </div>
      </form>
    </div>
  </div>
</div>


{% endfor %}

{% endblock %}