{% extends 'base.html'%}

{% block title %}
        tubes
{% endblock %}

{% block content_title %}
<p class="h1">Трубки</p>
<div class="btn-group mx-auto" role="group" aria-label="Basic example">
  <a href="/tomograph" class="btn btn-secondary" role="button">Томографы</a>
  <a href="/manufacture" class="btn btn-secondary" role="button">Производители</a>
  <a href="/tubes" class="btn btn-secondary" role="button">Трубки</a>
  <a href="/generators" class="btn btn-secondary" role="button">Генераторы</a>
  <a href="/tables" class="btn btn-secondary" role="button">Столы</a>
</div>
{% endblock %}

{% block content %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Производитель</th>
              <th scope="col">Модель</th>
              <th scope="col">Фокус</th>
              <th scope="col"><abbr title="mega heat unit, британская величина">Теплоемкость (MHU)</abbr></th>
              <th scope="col"><abbr title="kilo heat unit/min, Скорость охлаждения трубки в британской величине">Охлаждение (kHU/min)</abbr></th>
              <th scope="col">срок службы (сек)</th>
              <th scope="col">страна производства</th>
            </tr>
          </thead>
          <tbody>
          {% for tube in tubes %}
          <tr>
              <td>{{tube.manufacture_name}}</td>
              <td>{{tube.tube_model}}</td>
              <td>{{tube.focus}}</td>
              <td>{{tube.capacity}}</td>
              <td>{{tube.coolingrate}}</td>
              <td>{{tube.servise_life}}</td>
              <td>{{tube.country}}</td>
          </tr>
          {% endfor%}
          </tbody>
      </table>
{% endblock %}